<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
   
    <link rel="stylesheet" href="~/Assets/style.css">
</head>
<body>

    @RenderPage("_LayoutMenu.cshtml")
    <!-----------thanh thông tin------------->
    @RenderPage("_LayoutLeftMenu.cshtml")
    <!-----------Main------------->

    <div class="container">
        @RenderBody()


    </div>




    <script src="script.js"></script>

</body>
</html>
