@model YOUTUBE.Models.video

@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    input#imgfile {
        margin: 24px;
        border: 1px solid;
        background-color: green;
        color: white;
    }

    input#nametitle {
        margin: 24px;
        width: 250px;
        height: 100px;
    }

    input#noidung {
        margin: 24px;
        width: 250px;
        height: 100px;
    }

    input.btn.btn-default {
        margin: 24px;
        width: 300px;
        height: 50px;
        background-color: green;
        color: white;
        font-size: 30px;
    }

    form {
        display: flex;
        justify-content: center;
    }

    select#MaDM {
        margin: 24px;
        width: 250px;
        height: 40px;
    }

    video#showimg {
        margin-left: -300px;
        background-color: black;
        margin-bottom: 30px;
        margin-top: 30px;
    }
</style>
<h2>Thêm Video mới</h2>

@using (@Html.BeginForm("create", "VIDEO", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <h3>Chọn file video</h3>
            <div class="form-group">
                <label for="pwd">filevideo</label>

                <input type="file" class="form-control btn btn-info" id="file" name="imgfile" onchange="display(event)" />
                <video src="" id="showimg" autoplay style="width: 200px;height: 200px;">
            </div>

        </div>

        <div class="form-group">
            <h3>Hình ảnh video</h3>
            <div id="selectedBanner"></div>
            <div class="form-group">
                <label for="pwd">filevideo</label>
                <input type="file" class="form-control btn btn-info" id="imgfile" name="imgfile2" onchange="display(event2)" />
                @*<img src="" id="showimg2"  style="width: 200px;height: 200px;">*@
            </div>
        </div>

        <div class="form-group">
            <h3>Tên video</h3>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nametitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nametitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h3>Danh mục</h3>
            <div class="col-md-10">
                <select name="MaDM">
                    @foreach (var it in TempData["danhmuc"] as List<YOUTUBE.Models.danhmuc>)
                    {
                        <option value="@it.MaDM">@it.tendm</option>
                    }

                </select>
            </div>
        </div>

        <div class="form-group">
            <h3>Nội dung</h3>
            <div class="col-md-10">
                @Html.EditorFor(model => model.noidung, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.noidung, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="text" name="matk" value="@Session["acc"]" hidden />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@if (ViewBag.Message != null)
{
    <script>
    alert("@ViewBag.Message");
    </script>
}
@if (TempData["thongbaoxoa"] != null)
{
    <script>
        alert("@TempData["thongbaoxoa"]");
    </script>
}
<style>
    .video {
        align-items: center;
    }
</style>
<h2>Danh sách phát:</h2>
@foreach (var nn in Session["danhsachvideocuaban"] as List<YOUTUBE.Models.innerjoin>)
{
    <div class="video">
        <a href="" class="smallthumbnail"><img src="@nn.videoo.imagetitle"></a>
        <div class="video-info">
            <h3>@nn.videoo.nametitle</h3>
            <p>@nn.accountt.username</p>
            @*<p>155.235 lượt xem &bull; 2 tuần trước</p>*@
            <p>@nn.videoo.noidung</p>

        </div>
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = nn.videoo.Mavideo })|
            @Html.ActionLink("Delete", "Delete", new { id = nn.videoo.Mavideo })
        </div>
    </div>
}
<script>
    function display(event) {
        document.getElementById("showimg").src = URL.createObjectURL(event.target.files[0]);
    }
    //function display(event2) {
    //    document.getElementById("showimg2").src = URL.createObjectURL(event2.target.files[0]);
    //}
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script>
    var selDiv = "";
    var storedFiles = [];
    $(document).ready(function () {
        $("#imgfile").on("change", handleFileSelect);
        selDiv = $("#selectedBanner");
    });

    function handleFileSelect(e) {
        var files = e.target.files;
        var filesArr = Array.prototype.slice.call(files);
        filesArr.forEach(function (f) {
            if (!f.type.match("image.*")) {
                return;
            }
            storedFiles.push(f);

            var reader = new FileReader();
            reader.onload = function (e) {
                var html =
                    '<img src="' +
                    e.target.result +
                    "\" data-file='" +
                    f.name +
                    "alt='Category Image' height='200px' width='200px'>";
                selDiv.html(html);
            };
            reader.readAsDataURL(f);
        });
    }
</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

